.node-requirement {
  width: var(--cruise-canvas-node-width-medium);
  max-width: 90vw;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url("../images/requirement@2x.png");
  background-position: center bottom;
  background-size: var(--cruise-canvas-node-width-medium) 128px;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 10px 0px rgba(54, 64, 80, 0.18);
  border-radius: 12px;
  backdrop-filter: blur(28px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 8px;
  white-space: pre-wrap;
  position: relative;
}

.node-requirement.active {
  border-color: #a1b5ff;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  font-size: 13px;
}

.avatar {
  flex: 1;
  min-width: 0;
}

.avatar::part(avatar) {
  border: 1px solid #fff;
}

.time {
  color: #8c8c8c;
}

.body {
  background: #f1f6ff;
  box-shadow: 0px 1px 0px 0px #ffffff;
  border-radius: 9px;
  padding: 15px 10px;
}

.loading-line {
  position: absolute;
  bottom: -62px;
  left: 50%;
  transform: translate(-50%, 0);
}

.loading-line path {
  fill: none;
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-dasharray: 5, 5;
}

.loading {
  position: absolute;
  bottom: -74px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(69, 94, 255, 0.5);
  border-radius: 24px;

  animation: loading 1s infinite linear;
}

.inner {
  width: 12px;
  height: 12px;
  background: rgb(69, 94, 255);
  border-radius: 12px;
}

@keyframes loading {
  0% {
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0) scale(1.5);
    opacity: 0;
  }
}
