.aside {
  padding: 12px 12px 12px 0;
  height: 100%;
}

.faded {
  opacity: 0.4;
}

.sub {
  position: absolute;
  top: 16px;
  right: 16px;
  left: -16px;
  height: calc(100% - 16px);
}

.box {
  background: #ffffff;
  box-shadow: 1px 1px 10px 0px rgba(0, 10, 26, 0.1);
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 20px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: #262626;
}

.body {
  flex: 1;
  min-height: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  min-height: 0;
  background: #ffffff;
  border-radius: 9px;
  border: 1px solid #ccd1de;
  margin-top: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heading {
  background: #e6e9f3;
  color: #5e6472;
  padding: 5px 14px;
}

.content {
  font-size: 12px;
  flex: 1;
  min-height: 0;
  position: relative;
}

.scroller {
  height: 100%;
  overflow: hidden auto;
  padding: 10px;
}

.scroller.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor .content .code-block::part(wrapper) {
  position: static;
  margin: 0;
}

.editor .content .code-block::part(pre) {
  background: none !important;
  padding: 0;
  border-radius: 0;
  border: 0;
}
