:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  gap: 13px;
}

.avatar {
  width: 32px;
  height: 32px;
  font-size: 32px;
  flex-shrink: 0;
}

.title {
  font-size: 16px;
  color: #1d293d;
  font-weight: 500;
  line-height: 22.75px;
  letter-spacing: -0.1504px;
}

.content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22.75px;
  letter-spacing: -0.1504px;
  white-space: pre-wrap;
  margin-left: 45px;
}
