.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 16px;
}

:host([type]) {
  &,
  &:host([ui]) {
    .radio-item {
      &.disabled {
        color: var(--color-disabled-text);
      }
    }
  }
}

:host([type="default"]) {
  .radio-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 8px;

    .radio {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: var(--ant-color-text);
      font-size: var(--ant-font-size);
      line-height: var(--ant-line-height);
      list-style: none;
      position: relative;
      display: inline-block;
      outline: none;
      cursor: pointer;
      align-self: center;
      border-radius: 50%;

      input[type="radio"] {
        position: absolute;
        inset: 0;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
      }

      &::after {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        border: 1px solid var(--color-brand);
        border-radius: 50%;
        visibility: hidden;
        content: "";
      }

      .radio-inner {
        box-sizing: border-box;
        position: relative;
        inset-block-start: 0;
        inset-inline-start: 0;
        display: block;
        width: 16px;
        height: 16px;
        background-color: var(--color-fill-bg-container-1);
        border: 1px solid var(--color-border-divider-line);
        border-radius: 50%;
        transition: all 0.3s;

        &.checked {
          border-color: var(--color-brand);
          background-color: var(--color-brand);
          &::after {
            transform: scale(0.375);
            opacity: 1;
          }
        }
        &::after {
          box-sizing: border-box;
          position: absolute;
          inset-block-start: 50%;
          inset-inline-start: 50%;
          display: block;
          width: 16px;
          height: 16px;
          margin-block-start: -8px;
          margin-inline-start: -8px;
          background-color: var(--color-fill-bg-container-1);
          border-block-start: 0;
          border-inline-start: 0;
          border-radius: 16px;
          transform: scale(0);
          opacity: 0;
          transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
          content: "";
        }
      }
    }

    input[type="radio"] {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0px;
    }

    .content {
      display: flex;
      align-items: center;
    }

    &.disabled {
      .radio {
        input[type="radio"] {
          cursor: not-allowed;
        }
      }
      .radio-inner {
        background-color: var(--input-outline-disabled);
      }
      .radio-inner.checked {
        background-color: var(--color-disabled-text);
        border-color: var(--color-disabled-text);
      }
    }
  }

  .radio-item:not(.disabled):hover {
    .radio-inner {
      border: 1px solid var(--color-brand);
    }
  }
}

:host([type="icon"]) {
  .radio-item {
    position: relative;
    display: inline-block;
    width: 104px;
    height: 104px;
    text-align: center;
    cursor: pointer;
    color: var(--color-normal-text);

    input[type="radio"] {
      width: 0px;
      height: 0px;
    }

    &.checked {
      .content {
        border-color: var(--color-brand);
        color: var(--color-brand);
      }
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--color-fill-bg-container-1);
      border-radius: var(--medius-border-radius);
      border: var(--border-width-base) solid var(--color-border-divider-line);
    }

    &:not(.disabled):hover .content {
      border-color: var(--color-brand-hover);
    }

    &.disabled {
      .content {
        background-color: var(--input-outline-disabled);
      }

      &.checked {
        .content {
          color: var(--color-disabled-text);
          border-color: var(--color-disabled-text);
          background-color: var(--color-border-divider-line);
        }
      }
    }
  }
}

:host([type="button"]) {
  width: max-content;
  -webkit-appearance: none !important;
  .radio-group {
    gap: 0;
  }
  .radio-item {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-left: -1px;
    padding: 0;
    color: var(--antd-btn-default-color);
    font-size: 14px;
    background: var(--antd-btn-default-bg);
    border: 1px solid var(--antd-border-color-base);
    cursor: pointer;
    transition:
      color 0.3s,
      box-shadow 0.3s;

    &:first-child {
      border-radius: var(--small-border-radius) 0 0 var(--small-border-radius);
      margin-left: 0px;
    }

    &:last-child {
      border-radius: 0 var(--small-border-radius) var(--small-border-radius) 0;
    }

    &.checked.disabled {
      background-color: var(--color-border-divider-line);
    }

    &:not(.disabled) {
      &.checked {
        border-color: var(--antd-radio-dot-color);
        background-color: var(--antd-radio-dot-color);
        color: #fff;
        margin-right: -1px;
        z-index: 1;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        color: var(--antd-radio-dot-color);
      }
    }

    input[type="radio"] {
      width: 0;
      height: 0;
      position: absolute;
      appearance: none;
    }

    .content {
      padding: 0 15px;
    }
  }

  &:host([ui="dashboard"]) {
    .radio-group {
      border-radius: var(--small-border-radius);
      border: none;
      background-color: var(--antd-dashboard-radio-bg);
    }

    .radio-item {
      background: var(--antd-dashboard-radio-item-bg);
      font-size: 14px;
      color: var(--antd-dashboard-radio-item-color);
      border: none;
      margin: 3px 0;
      border-radius: var(--medius-border-radius);

      &:first-child {
        margin-left: 3px;
      }

      &:last-child {
        margin-right: 3px;
      }

      &:not(.disabled) {
        &:hover {
          color: var(--antd-dashboard-radio-item-checked-color);
        }

        &.checked {
          color: var(--antd-dashboard-radio-item-checked-color);
          background-color: var(--radio-dashboard-selected-bg);
          border-radius: var(--small-border-radius);
          font-weight: var(--font-weight-500);
        }
      }

      &.checked.disabled {
        background-color: var(--radio-dashboard-disabled-bg);
      }

      &:not(:last-child):after {
        position: absolute;
        top: 50%;
        right: 0px;
        display: block;
        box-sizing: content-box;
        width: 1px;
        height: calc(100% - 14px);
        background-color: var(--antd-border-color-base);
        transition: background-color 0.3s;
        content: "";
        transform: translateY(-50%);
      }

      &.checked {
        &:after {
          width: 0;
        }

        &:not(:first-child) {
          margin-left: -1px;
        }
      }
    }
  }
}

:host([type="icon-circle"]),
:host([type="icon-square"]) {
  .radio-item {
    position: relative;
    display: inline-block;
    width: auto;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    color: var(--color-normal-text);

    input[type="radio"] {
      width: 0;
      height: 0;
      appearance: none;
    }

    &:not(.disabled):hover {
      .content {
        .icon {
          border-color: var(--color-brand-hover);
        }
      }
    }

    .content {
      > span {
        width: 93px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto auto 6px;
        background: var(--color-fill-bg-container-1);
        border: 1px solid var(--color-border-divider-line);
        width: 94px;
        height: 94px;
        font-size: 46px;
        box-sizing: border-box;

        &.circle-icon {
          border-radius: 50%;
        }
      }
    }

    &.disabled {
      .content {
        .icon {
          background-color: var(--input-outline-disabled);
        }
      }

      &.checked {
        .content {
          .icon {
            color: var(--color-disabled-text);
            border-color: var(--color-disabled-text);
            background-color: var(--color-border-divider-line);
          }
        }
      }
    }

    &.checked {
      .content {
        .icon {
          border: 1px solid var(--color-brand);
          color: var(--color-brand);
          border-width: var(--border-width-double-base);
        }
      }
    }
  }
}

:host([type="custom"]) {
  .radio-item {
    position: relative;
    display: inline-block;
    width: 212px;
    height: 271px;
    text-align: center;
    cursor: pointer;
    color: var(--color-normal-text);

    input[type="radio"] {
      width: 0;
      height: 0;
    }

    input[type="radio"]:checked ~ .content {
      box-shadow: var(--hover-shadow);
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border-radius: var(--small-border-radius);
    }

    &:not(.disabled):hover .content {
      box-shadow: var(--hover-shadow);
    }
  }
}

.radio-item.small {
  height: 24px;
  font-size: 13px;
  line-height: 24px;
}

.radio-item.medium {
  height: 32px;
  font-size: 14px;
}

.radio-item.large {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

.disabled,
.disabled .content {
  cursor: not-allowed;
}
