:host {
  display: block;
  padding: 24px 54px 72px;
}

:host([sticky]) {
  padding-top: 0;
}

:host([hidden]) {
  display: none;
}

:host::before {
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;
  background-color: #f1f1f1;
  background-image: url("./images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 719px) {
  :host {
    padding-left: 24px;
    padding-right: 24px;
  }
}
