:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #262626;
  padding: 48px 54px;
  overflow: hidden;
  overflow-y: auto;
}

:host::before {
  content: "";
  position: fixed;
  z-index: -1;
  inset: 0;
  background-color: rgb(205, 206, 207);
  background-image: url("../home-container/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:host([sticky]) {
  padding-top: 0;
}

:host([hidden]) {
  display: none;
}

:host([variant="form"])::before {
  background: #fff;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

:host([size="small"]) .container {
  max-width: 1000px;
}

:host([size="full"]) .container {
  max-width: 100%;
}

.sticky-header {
  margin: 0 -24px;
  padding: 65px 24px 30px;
}

.non-sticky-header {
  padding: 17px 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  min-width: 0;
  white-space: nowrap;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #bfbfbf;

  eo-link::part(link) {
    color: inherit;
  }

  eo-link::part(link):hover {
    color: #595959;
  }

  li::after {
    content: "/";
    margin: 0 8px;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

@media (max-width: 719px) {
  :host {
    padding-left: 24px;
    padding-right: 24px;
  }
}
