.heading {
  border-radius: 9px;
  border: 1px solid #ccd1de;
  background-image: radial-gradient(
    circle at 1px 1px,
    #ddd 1px,
    transparent 0px
  );
  background-size: 25px 25px;
  background-position: 12px;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.status {
  background: #aeb3bc;
  border-radius: 100px;
  height: 40px;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: #ffffff;

  eo-icon {
    font-size: 22px;
  }
}

.status.paused {
  background: #f0a22e;
}

.status.working {
  background: #4f69ff;
}

.status.completed {
  background: #08bf33;
}

.status.failed {
  background: var(--color-error);
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-left: 40px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart {
  padding: 8px 22px 18px;
  overflow-x: auto;
}

.body {
  margin-top: 16px;
  position: relative;
}

.chat {
  background: rgba(227, 228, 229, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px 20px;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.messages {
  width: 100%;
  margin: 0 auto;
}

.message + .message,
.activity + .activity {
  margin-top: 40px;
}
