.progress {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: var(--cruise-canvas-node-width-medium);
  max-width: 80%;
}

.bar {
  background: #24203d;
  box-shadow:
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.85);
  padding: 12px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 6px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(222deg, #abaab7 25%, #fff 75%);
  color: #4e4d56;
  font-size: 12px;
  text-shadow: 0px 1px 1px #fff;
}

.progress.completed .icon {
  background: linear-gradient(222deg, #16c661 25%, #fff 75%);
  color: #055527;
}

.progress.failed .icon {
  background: linear-gradient(222deg, #f24c25 25%, #fff 75%);
  color: #5b1504;
}

.progress.working .icon {
  background: linear-gradient(222deg, #3e56ff 25%, #fff 75%);
  color: #0c165d;
}

.progress.input-required .icon {
  background: linear-gradient(222deg, #12aacc 25%, #fff 75%);
  color: #0c353e;
}

.progress.canceled .icon {
  background: linear-gradient(222deg, #fcaa07 25%, #fff 75%);
  color: #302206;
}

.text,
.instruction {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
}

.stat {
  margin-left: 6px;
}

.expand {
  margin-left: 6px;
}

.stat,
.expand {
  color: rgba(255, 255, 255, 0.65);
}

.details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4em;
  background: #fff;
  border-radius: 12px;
  box-shadow:
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  list-style: none;
  margin: 0;
  padding: 20px;
  cursor: auto;
}

.step {
  --state-color: initial;

  display: flex;
  align-items: center;
  color: var(--state-color, var(--text-color-secondary));
}

.instruction {
  color: var(--state-color, #262626);
}

.step:not(:last-child) {
  margin-bottom: 16px;
}

.step.completed {
  --state-color: var(--color-success);
}

.step.failed {
  --state-color: var(--color-error);
}

.step.working {
  --state-color: var(--color-info);
}

.step.input-required {
  --state-color: var(--palette-cyan-7);
}

.step.canceled {
  --state-color: #fcaa07;
}

.state {
  margin-right: 10px;
}

.actions {
  position: absolute;
  left: 0;
  top: -34px;
  display: flex;
}

.action {
  width: 26px;
  height: 26px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action:not([disabled]) {
  cursor: pointer;
}

.action:not([disabled]):active,
.action:not([disabled]):hover {
  background: rgba(255, 255, 255, 0.8);
}

.action:focus {
  outline: none;
}

.actions > * + * {
  margin-left: 8px;
}

.mask {
  position: fixed;
  inset: 0;
}
