.plan-progress {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  width: 500px;
  max-width: 90%;
  background: var(--body-background);
  border: 1px solid gray;
  border-radius: 9999px;
  padding: 4px 12px;
}

.progress-stat {

}

.progress-text {

}
