:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

:host,
eo-tooltip {
  vertical-align: middle;
}

button {
  width: 28px;
  height: 28px;
  font-size: 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: #333;
}

button:disabled {
  color: #8c8c8c;
}

button:not(:disabled) {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:not(:disabled):hover {
  background: rgba(0, 0, 0, 0.04);
}

button:not(:disabled):active {
  background: rgba(0, 0, 0, 0.08);
}

:host([variant="light"]) button {
  color: #595959;
}

:host([variant="mini"]) button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  border-radius: 4px;
}

:host([variant="mini-light"]) button {
  color: #8c8c8c;
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 4px;
}
