:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

button:focus,
textarea:focus {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  background: none;
  border: none;
}

.container {
  position: relative;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 12px;
  background-image:
    linear-gradient(#fff, #fff),
    linear-gradient(
      338deg,
      rgba(198, 183, 247, 1),
      rgba(157, 198, 255, 1),
      rgba(153, 196, 255, 1)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow:
    0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  cursor: text;
}

:host([auto-fade]) .container:not(:has(textarea:focus)) {
  background: rgba(255, 255, 255, 0.5);
  border-color: #99c4ff;
  backdrop-filter: blur(10px);
}

.box {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 8px;
}

.input {
  position: relative;
  min-width: 0;
  flex: 1;
}

.wrap .input {
  flex-basis: 100%;
}

.input textarea {
  display: block;
  width: 100%;
  padding: 8px;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: var(--antd-input-color);
  border: none;
  background: none;
  height: 24px;
  color: #262626;
}

.input textarea::placeholder {
  color: #bfbfbf;
}

.toolbar {
  padding: 6px 0 6px 8px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-send {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--elevo-color-brand);
  border-radius: 8px;
  color: #fff;
}

.btn-send:disabled {
  background: rgba(0, 0, 0, 0.15);
}

.btn-send:not(:disabled) {
  cursor: pointer;
}

.btn-send:not(:disabled):hover {
  background: #5166ff;
}

.btn-send:not(:disabled):active {
  background: #1e33cc;
}

.btn-divider {
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.1);
}

.files.condensed {
  top: 2px;
  left: 8px;
  right: 8px;
}

.mention-overlay {
  position: absolute;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(38, 45, 65, 0.1);
  /* background: rgba(37, 64, 255, 0.1); */
}
