:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

:not(pre) > code {
  color: var(--eo-markdown-display-code-color);
  background: var(--eo-markdown-display-code-background);
  margin: 0 2px;
  padding: 1px 6px;
  white-space: nowrap;
  border-radius: 3px;
}

blockquote {
  border-left: 6px solid var(--eo-markdown-display-blockquote-border-color);
  padding: 0 1em;
}

:not(blockquote) > blockquote {
  margin-left: 0;
  margin-right: 0;
}

a {
  color: var(--antd-btn-link-color);
  text-decoration: none;

  &:hover {
    color: var(--antd-btn-link-hover-color);
  }
}

.external-link-icon {
  margin-left: 3px;
  color: var(--text-color-disabled);
}
