.assistant {
  display: flex;
}

.body {
  flex: 1;
  min-width: 0;
  padding: 3px 0 3px 16px;
}

.texting {
  position: relative;
}

.texting::after {
  position: absolute;
  content: "   ";
  animation: texting 2s infinite;
  white-space: pre;
}

.avatar {
  font-size: 32px;
}

@keyframes texting {
  0% {
    content: "   ";
  }
  25% {
    content: ".  ";
  }
  50% {
    content: ".. ";
  }
  75% {
    content: "...";
  }
  100% {
    content: "   ";
  }
}
