.user {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  padding: 8px 16px;
  width: fit-content;
  max-width: 500px;
  margin-left: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 26px;
}

.files {
  margin-left: auto;
  margin-bottom: 12px;
  width: fit-content;
}
