.goal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  user-select: none;
  border: 1px solid transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);

    .end {
      .operation {
        display: flex;
      }
      .info {
        display: none;
      }
    }
  }

  &.completed {
    .serial-number,
    .title {
      color: #bfbfbf;
    }
  }

  &.active {
    background: rgba(37, 64, 255, 0.1);
    border: 1px solid #2540ff;
  }

  > * {
    user-select: auto;
  }

  .start,
  .end {
    display: flex;
    align-items: center;
  }

  .start {
    flex: 1;
    min-width: 0;
    column-gap: 16px;
    min-width: 0;
  }

  .end {
    flex-shrink: 0;
    column-gap: 30px;

    .operation {
      display: none;
      align-items: center;
      gap: 8px;

      eo-button::part(button) {
        height: 28px;
      }

      .new-chat::part(button) {
        padding: 5px 10px;
        font-size: 13px;
      }

      .append-child::part(button) {
        padding: 5px 8px;
        font-size: 14px;
      }
    }

    .info {
      display: inline-flex;
      align-items: center;
      column-gap: 24px;
    }
  }

  .serial-number {
    font-weight: 400;
    color: var(--palette-gray-7);
    font-size: 16px;
  }

  .title {
    font-weight: 500;
    padding: 2px 4px;
    font-size: 16px;
    color: var(--palette-gray-10);
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    min-width: 80px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
      border: 1px solid var(--palette-gray-5);
      cursor: text;
    }

    &:focus {
      outline: none;
      background-color: rgba(255, 255, 255, 0.6);
      border: 1px solid var(--elevo-color-brand);
    }
  }

  .icon {
    border-radius: 8px;
    padding: 6px;
    position: relative;
    top: 2px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  .message {
    color: var(--palette-gray-7);
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    .count {
      font-weight: 500;
      color: var(--palette-gray-10);
    }
  }
}

.goal-item:not(.editing) .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
