.highlight {
  box-shadow: rgb(74 170 189) 0px 1px 0px 0px;
}

.pointer {
  cursor: pointer;
}

.monaco-editor {
  outline-width: 0;
}

.monaco-editor .overflow-guard {
  border-radius: var(--antd-button-border-radius);
  border: 1px solid var(--color-border-divider-line);
}

.code-editor-wrapper.error .overflow-guard {
  border-color: var(--antd-error-color);
}

.code-editor-wrapper {
  position: relative;
}

.code-editor-wrapper.expanded {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  backdrop-filter: blur(5px);
}

.toolbar-wrapper {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  padding: 15px 20px;
}

.toolbar {
  pointer-events: auto;
  display: none;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  gap: 10px;
  box-shadow: none;
  transition: none;
  border-radius: 50%;
  border: none;
}

.code-editor-wrapper:not(.expanded) .toolbar.sticky {
  position: sticky;
  top: 15px;
}

.code-editor-wrapper.expanded .toolbar-wrapper {
  right: 40px;
  top: 40px;
}

.code-editor-wrapper:hover .toolbar {
  display: flex;
}

.copy-icon,
.expand-icon {
  opacity: 0.5;
  cursor: pointer;
  font-size: 16px;
}

.copy-icon:hover,
.expand-icon:hover {
  opacity: 1;
}

/* Avoid conflicts with v2 vs code editor */
.monaco-editor.monaco-editor-v3 .find-widget > .find-part,
.monaco-editor.monaco-editor-v3 .find-widget > .replace-part {
  margin-right: 25px;
}

.monaco-editor.monaco-editor-v3 .find-widget .button {
  box-sizing: content-box;
}

.monaco-editor.monaco-editor-v3 .sticky-line-number {
  text-align: initial;
  float: initial;
}
