.topology-node {
  padding: 5px;
  font-size: 24px;
  width: 34px;
  height: 34px;

  eo-icon {
    display: block;
  }
}

.topology-node-trouble {
  color: var(--color-warning);
}

.topology-node-ok {
  color: var(--color-success);
}

.topology-node-label {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 16px;
  background: #fff;
  padding: 0 2px 2px;
  border-radius: 4px;
  max-width: 124px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
