.expanded-view {
  position: fixed;
  inset: 0;
  background: rgba(247, 248, 250, 0.5);
  backdrop-filter: blur(74px);
  padding: 106px var(--page-padding-right) 40px var(--page-padding-left);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
  margin: 0 0 25px;
  padding: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  background: rgba(2, 0, 102, 0.05);
  box-shadow: inset 0px 1px 2px 0px #cdd1d7;
  border-radius: 21px;
  backdrop-filter: blur(15px);
}

.nav-button {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 26px;
  background: none;
  border: none;
  color: #595959;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.nav-button:not(:last-child) {
  margin-right: 12px;
}

.nav-button.active {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  color: var(--elevo-color-brand);
}

.nav-button:hover {
  color: var(--elevo-color-brand);
}

.body {
  width: 100%;
  max-width: 1556px;
}

.body.small {
  max-width: 804px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 7px;
}

.close:hover {
  color: var(--elevo-color-brand);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
}
