.button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  color: #262626;
  cursor: pointer;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

.button[disabled] {
  color: rgba(0, 0, 0, 0.45);
  cursor: default;
}
