:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.container {
  position: relative;
  width: 32px;
  height: 32px;
}

.containerShowInput {
  width: 500px;
}

.inputContent {
  background: rgba(204, 209, 219, 0.3);
  border-radius: 3px;
  height: 30px;
  position: absolute;
  right: 0;
  width: 0px;
  overflow: hidden;
}

.inputContentSlidein {
  overflow: visible;
  animation: slidein 0.4s ease-in-out forwards;
}

.inputContentSlideout {
  width: 500px;
  animation: slideout 0.4s 0.2s ease-in-out forwards;
}

input {
  flex: 1;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  background-color: transparent;
  cursor: inherit;
  width: 100%;
}

select {
  border: none;
  outline: none;
  width: 150px;
  background: transparent;
}

input:focus {
  border: none !important;
}
input::placeholder {
  color: var(--color-disabled-text);
}

.button {
  position: absolute;
  right: 0;
  top: 0;
}

.buttonSildeint {
  opacity: 0;

  animation: btnSlidein 0.1ms 0.6s ease-in-out forwards;
}

@keyframes btnSlidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    width: 0px;
  }

  to {
    width: 500px;
  }
}

@keyframes slideout {
  from {
    width: 500px;
  }

  to {
    width: 0px;
  }
}

.input-addon-wrapper {
  display: table;
  width: 100%;
  line-height: 22px;
}

.input-affix-wrapper {
  display: inline-flex;
  position: relative;
  padding-bottom: 4px;

  width: 100%;

  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  overflow: visible;
}

.input-suffix,
.input-before-addon {
  display: flex;
  flex: none;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  width: 16px;
}

.input-before-addon {
  width: 100px;
}

.input-clear-icon {
  margin-left: 4px;
  font-size: 12px;
  color: var(--text-color-disabled);
  cursor: pointer;
}

.input-clear-icon:hover {
  color: var(--antd-text-color-secondary);
}

.historySearchContainer {
  width: 500px;
  height: 232px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--antd-dropdown-menu-bg);
  top: 35px;
  position: absolute;
  height: 0px;
  right: 0;
  overflow: hidden;
  border-radius: 6px;
  z-index: 1000;
}
.historySearchContainerSlidein {
  top: 35px;
  animation: historySlidein 0.4s 0.2s ease-in-out forwards;
}
.historySearchContainerSlideout {
  animation: historySlideout 0.4s ease-in-out forwards;
}

@keyframes historySlidein {
  from {
    height: 0px;
  }
  to {
    height: 232px;
  }
}

@keyframes historySlideout {
  from {
    height: 232px;
  }
  to {
    height: 0px;
  }
}

.quickSearchTip {
  width: 140px;
  height: 17px;
  font-family:
    PingFangSC,
    PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-auxiliary-text);
  line-height: 17px;
  text-align: left;
  font-style: normal;
  padding: 8px;
  width: 484px;
  border-top: 1px solid var(--color-border-divider-line);
}

.historySearchContent {
  height: 183px;
  padding: 8px;
}

.latestSearchText {
  width: 56px;
  height: 20px;
  font-family:
    PingFangSC,
    PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: var(--local-card-description-color);
  line-height: 20px;
  text-align: left;
  font-style: normal;
  margin-bottom: 10px;
}

.latestSearchTagText {
  height: 17px;
  font-family:
    PingFangSC,
    PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-strong-text);
  line-height: 17px;
  text-align: center;
  font-style: normal;
  white-space: nowrap;
}
.latestSearchTagContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 10px;
}
.latestSearchTagContent {
  height: 20px;
  background: var(--color-fill-bg-base-1);
  border-radius: 3px;
  padding: 1.5px 8px;
  cursor: pointer;
  max-width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
}
