:host {
  display: block;
  position: sticky;
  top: 0;
}

:host([hidden]) {
  display: none;
}

:host::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(205, 206, 207);
  background-image: url("../page-container/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: none;
}

:host([variant="home"])::before {
  background-color: #f1f1f1;
  background-image: url("../home-container/images/background.png");
}
