:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

.root {
  color: #262626;
  background: url("./images/bg.png") no-repeat center bottom;
  background-size: 100% 104px;
  padding: 12px 12px 29px;
  margin: 0 -12px;
}

.container {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(38, 45, 65, 0.1);
  border-radius: 16px;
  border: 1px solid #dadfe8;
}

.container:has(textarea:focus) {
  border-color: #b7c3d8;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px 16px 50px;
  color: var(--antd-input-color);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font: inherit;
  font-size: 14px;
  line-height: 22px;
  height: 120px;
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

button:focus,
textarea:focus {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  background: none;
  border: none;
}

.actions-bar {
  position: absolute;
  bottom: 12px;
  left: 14px;
  right: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 6px;
}

.btn-send {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--elevo-color-brand);
  border: none;
  border-radius: 8px;
  color: #fff;
  flex-shrink: 0;
}

.btn-send[disabled] {
  background: rgba(0, 0, 0, 0.15);
}

.btn-send:not([disabled]) {
  cursor: pointer;
}

.btn-send:not([disabled]):hover {
  background: #5166ff;
}

.btn-send:not([disabled]):active {
  background: #1e33cc;
}

.mention-overlay {
  position: absolute;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(38, 45, 65, 0.1);
  /* background: rgba(37, 64, 255, 0.1); */
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-divider {
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.1);
}
