.shine-text {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--shine-text-color) 0%,
    var(--shine-text-color) 40%,
    var(--shine-text-highlight-color) 50%,
    var(--shine-text-color) 60%,
    var(--shine-text-color) 100%
  );

  background-size: 200% 100%;
  background-clip: text;
  animation: shineText 2s infinite linear;
}

@keyframes shineText {
  0% {
    background-position: -50% 50%;
  }
  100% {
    background-position: -250% 50%;
  }
}

.markdown {
  a {
    color: var(--elevo-color-brand);
  }
  a:hover {
    color: var(--elevo-color-brand-hover);
  }
  a:active {
    color: var(--elevo-color-brand-active);
  }

  :global(.shiki) {
    font-family:
      "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    font-size: 13px;
    padding: 1em;
    margin: 0.5em 0;
    overflow-x: auto;
    border-radius: 9px;
  }

  :global(.shiki.light-plus) {
    background: hsl(230, 1%, 98%) !important;
  }
}

.markdown {
  table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
  }

  tr {
    border-top: 1px solid #ccd1de;
  }

  td,
  th {
    border: 1px solid #ccd1de;
    padding: 6px 13px;
  }
}

.markdown {
  overflow-wrap: break-word;
}

.markdown:not(:first-child) {
  margin-top: 6px;
}

.markdown p {
  margin: 1em 0;
}

.markdown > :first-child,
.markdown-wrapper > :first-child {
  margin-top: 0;
}

.markdown > :last-child,
.markdown-wrapper > :last-child {
  margin-bottom: 0;
}

.table-container {
  padding: 8px 8px 10px;
  border-radius: 12px;
  border: 1px solid #e2e2ec;
  background: #ffffff;
}

.table-container:not(:first-child) {
  margin-top: 6px;
}
