ai-portal\.cruise-canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  --cruise-canvas-node-border: 1px solid gray;
  --cruise-canvas-node-width-medium: 380px;
  --cruise-canvas-node-width-large: 764px;

  --cruise-canvas-primary-color: #2540ff;
}

/* :host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
} */

.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.widgets {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
}

.widgets > * {
  pointer-events: auto;
  user-select: text;
}

.canvas,
.edges {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0% 0%;
  user-select: none;
}

.node {
  position: absolute;
  user-select: text;
  cursor: auto;
}

.node:not(.ready),
.canvas:not(.ready) > .edges {
  visibility: hidden;
}

svg.edges {
  pointer-events: none;
  overflow: visible;
}

.edge {
  fill: none;
  stroke-width: 1px;
  stroke: gray;
  stroke-dasharray: 5, 5;
}

.node-end {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: gray;
}

.size-medium,
.size-large {
  border: var(--cruise-canvas-node-border);
  border-radius: 6px;
  padding: 6px;
}

.size-medium {
  width: var(--cruise-canvas-node-width-medium);
}

.size-large {
  width: var(--cruise-canvas-node-width-large);
}

.node-default {
  border: var(--cruise-canvas-node-border);
}

.node-default > :first-child {
  margin-top: 0;
}

.node-default > :last-child {
  margin-bottom: 0;
}

/* .node-online-search {
  height: 412px;
  overflow-y: auto;
} */

.node-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.node-title:empty {
  display: none;
}

.node-generate-image {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
  }
}
