ai-portal\.cruise-canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(205, 206, 207);
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #262626;

  --cruise-canvas-node-border: 1px solid gray;
  --cruise-canvas-node-width-small: 330px;
  --cruise-canvas-node-width-medium: 453px;

  --cruise-canvas-primary-color: #2540ff;
  --cruise-canvas-input-background: rgba(255, 255, 255, 0.8);
  --cruise-canvas-input-box-shadow:
    0px 1px 0px 0px #ffffff, inset 0px 2px 4px 0px #b3bcf9;
}

.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.widgets {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
}

.root.loading .canvas,
.root.loading + .widgets {
  visibility: hidden;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
}

.widgets > * {
  pointer-events: auto;
  user-select: text;
}

.canvas,
.edges {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0% 0%;
  user-select: none;
}

.node {
  position: absolute;
  user-select: text;
  cursor: auto;
}

.node:not(.ready),
.canvas:not(.ready) > .edges {
  visibility: hidden;
}

svg.edges {
  pointer-events: none;
  overflow: visible;
}

.edge {
  fill: none;
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-dasharray: 5, 5;
}

.go-back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.go-back::part(link) {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow:
    0px 3px 14px 0px rgba(0, 0, 0, 0.1),
    0px 1px 4px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: inherit;
  box-sizing: border-box;
}

.go-back::part(link):hover {
  background: rgba(255, 255, 255, 0.5);
}

.go-back::part(link):active {
  background: rgba(255, 255, 255, 0.3);
}
