.plan {
  margin-bottom: 20px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.88);
}

.toggle {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  padding: 0 8px 0 10px;
  height: 22px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 20px;
  border: 1px solid #fff;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.85);
  }
}

.chevron {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.collapsed .chevron {
  transform: rotate(90deg);
}

.tree {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan > .tree {
  margin-top: 14px;
}

.tree > li {
  position: relative;
}

.icon {
  font-size: 16px;
  color: #8c8c8c;
}

.icon {
  &.completed {
    color: #08bf33;
  }

  &.working {
    color: var(--elevo-color-brand);
  }

  &.paused {
    color: #faad14;
  }

  &.failed {
    color: #f24c25;
  }
}

.node:not(:last-child),
.tree > li:not(:last-child) {
  margin-bottom: 8px;
}

.tree .root:not(:last-child) {
  margin-bottom: 12px;
}

.node {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 20px;
}

.label {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}

.root > .node > .label {
  color: #000;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line {
  position: absolute;
  top: 24px;
  left: 7px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.message {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;

  .user {
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px 12px;
  }
}

.details {
  padding-left: 20px;
}

.chunk {
  margin-bottom: 8px;
}

.tool {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 12px;
  height: 26px;
  width: fit-content;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
