.plan {
  margin-bottom: 20px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.88);

  .flow-title {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 30px;
    padding: 0 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.toggle {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  padding: 0 8px 0 10px;
  height: 22px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 20px;
  border: 1px solid #fff;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.85);
  }
}

.chevron {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.collapsed .chevron {
  transform: rotate(90deg);
}

.tree {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan > .tree {
  margin-top: 14px;
}

.tree > li {
  position: relative;
}

.icon {
  font-size: 16px;
  color: var(--plan-state-icon-color);

  --plan-state-icon-color: #8c8c8c;
}

.icon {
  &.completed {
    --plan-state-icon-color: #08bf33;
  }

  &.working {
    --plan-state-icon-color: var(--elevo-color-brand);
  }

  &.paused {
    --plan-state-icon-color: #faad14;
  }

  &.failed {
    --plan-state-icon-color: #f24c25;
  }
}

.icon.stacked {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1.5px solid var(--plan-state-icon-color);
}

.icon.filled {
  color: #fff;
  background: var(--plan-state-icon-color);
}

.node:not(:last-child) {
  margin-bottom: 8px;
}

.tree > li:not(:last-child) {
  margin-bottom: 12px;
}

.node {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 20px;
}

.label {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}

.root > .node > .label {
  color: #000;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line {
  position: absolute;
  top: 24px;
  left: 7px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.message {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;

  .user {
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px 12px;
  }
}

.details {
  padding-left: 20px;
}

.chunk {
  margin-bottom: 8px;
}

.tools {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tool {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 12px;
  height: 26px;
  width: fit-content;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
}
