.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 12px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  --shine-text-color: rgba(38, 38, 38, 0.65);
  --shine-text-highlight-color: #dcdcdc;
}

ai-portal\.cruise-canvas .title {
  text-indent: 4px;
}

ai-portal\.cruise-canvas .heading {
  margin-bottom: 10px;
}
