:root {
  --eo-table-head-cell-padding: 14px 16px;
  --eo-table-head-cell-height: 51px;
  --eo-table-body-cell-padding: 11px 16px;
  --eo-table-body-cell-height: 45px;
}

html[data-ui="v8-2"] {
  eo-next-table:not([theme-variant="elevo"]) {
    --eo-table-head-cell-padding: 9px 16px;
    --eo-table-head-cell-height: 41px;

    &[size="large"] {
      --eo-table-body-cell-padding: 9px 16px;
      --eo-table-body-cell-height: 45px;
    }

    &[size="middle"] {
      --eo-table-head-cell-padding: 7px 16px;
      --eo-table-head-cell-height: 37px;
      --eo-table-body-cell-padding: 6px 16px;
      --eo-table-body-cell-height: 39px;
    }

    &[size="small"] {
      --eo-table-head-cell-padding: 3px 16px;
      --eo-table-head-cell-height: 29px;
      --eo-table-body-cell-padding: 1px 16px;
      --eo-table-body-cell-height: 31px;
    }
  }
}
