.node-job {
  width: 330px;
  background: linear-gradient(180deg, #f5f8ff 0%, #edf0f9 100%);
  box-shadow:
    0px 4px 10px 0px rgba(177, 149, 207, 0.4),
    0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding: 8px;
}

.heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2ec;
  padding: 0 5px 5px;
  font-size: 12px;
  color: #8c8c8c;
}

.icon {
  margin-right: 6px;
}

.time {
  margin-left: auto;
}

.body {
  padding: 8px 4px;
}

.message p {
  margin: 1em 0;
}

.message:not(:first-child) {
  margin-top: 1em;
}

.role-user {
  white-space: pre-wrap;
}

.human-input {
  margin-top: 1em;
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  color: var(--antd-input-color);
  background: var(--antd-input-bg);
  box-sizing: border-box;
  border: 1px solid var(--antd-input-border-color);
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
  height: 32px;
}

.human-input:not(:disabled):hover {
  border: 1px solid var(--antd-input-hover-border-color);
}

.human-input:not(:disabled):focus {
  border: 1px solid var(--antd-input-focus-border-color);
  outline: 0;
  box-shadow: 0 0 0 2px rgb(0 113 235 / 20%);
}

.human-input::placeholder {
  color: var(--antd-input-placeholder-color);
}
