.node-job {
  width: var(--cruise-canvas-node-width-medium);
  max-width: 90vw;
  background: linear-gradient(180deg, #f5f8ff 0%, #edf0f9 100%);
  box-shadow:
    0px 4px 10px 0px rgba(177, 149, 207, 0.4),
    0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px;
  position: relative;
}

.node-job.active {
  border-color: #a1b5ff;
}

.background {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background-image: url("../images/job-background.png");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
  transition: opacity 0.15s;
  opacity: 0;
}

.node-job.active .background,
.node-job:hover .background {
  opacity: 1;
}

.heading,
.body {
  position: relative;
  z-index: 1;
}

.fit-content {
  min-width: var(--cruise-canvas-node-width-medium);
  width: min-content;
}

.ask-user {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 10px 0px rgba(54, 64, 80, 0.18);
  border-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(28px);
}

.error {
  box-shadow: inset 0px 0px 8px 2px rgba(242, 76, 37, 0.6);
  border-color: rgba(242, 76, 37, 0.6);
}

.heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2ec;
  padding: 0 5px 5px;
  font-size: 13px;
  color: #8c8c8c;
}

.icon {
  margin-right: 6px;
  font-size: 14px;
}

.tool {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  --shine-text-color: #8c8c8c;
  --shine-text-highlight-color: #dcdcdc;
}

.time {
  margin-left: 6px;
}

.body {
  padding: 9px 4px 4px;
}

.scrollable {
  max-height: 462px;
  overflow-y: auto;
}

.message:not(:first-child) {
  margin-top: 6px;
}

.ask-user .heading {
  border-bottom: none;
}

.role-assistant,
.role-user {
  background: var(--cruise-canvas-input-background);
  border-radius: 9px;
  border: 1px solid #ccd1de;
  padding: 6px 16px;
}

.role-user {
  white-space: pre-wrap;
}

.human-input {
  margin-top: 1em;
  display: block;
  width: 100%;
  padding: 10px 16px;
  color: inherit;
  background: var(--cruise-canvas-input-background);
  box-shadow: var(--cruise-canvas-input-box-shadow);
  border-radius: 9px;
  border: none;
  font-size: 14px;
  line-height: 22px;
  height: 64px;
}

.human-input:focus {
  outline: none;
}

.human-input::placeholder {
  color: #bfbfbf;
}

.node-job {
  *::-webkit-scrollbar {
    width: 5px; /* 垂直滚动条宽度 */
    height: 5px; /* 水平滚动条高度 */
    background: transparent; /* 背景透明 */
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d8d8d8; /* 滑块颜色 */
    border-radius: 3px; /* 圆角 */
  }

  *::-webkit-scrollbar-track {
    background: transparent; /* 轨道背景透明 */
  }
}
