:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  z-index: 2;
  width: 260px;
  height: 100%;
  background: rgba(246, 247, 249, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  padding: 23px 11px 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.logo-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 4px;
}

.main {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  margin: 16px 0;
}

.logo-link::part(link) {
  display: block;
}

.logo {
  vertical-align: middle;
}

.new-chat::part(link) {
  display: flex;
  gap: 0;
  align-items: center;
  color: var(--elevo-color-brand);
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.sidebar .new-chat::part(link) {
  background: #f0f4ff;
  border-radius: 8px;
  border: 1px solid #c9d7ff;
  padding: 9px 13px;
  font-weight: 500;
  margin-bottom: 16px;
}

.sidebar .new-chat::part(link):hover {
  background: rgba(201, 215, 255, 0.5);
}

.new-chat-icon {
  font-size: 16px;
  margin-right: 5px;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  padding: 9px 12px;
  margin: 0 -12px;
}

.dropdown {
  display: block;
}

.account {
  background: none;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.account:hover {
  background: rgba(0, 0, 0, 0.04);
}

.alternative {
  position: fixed;
  top: 8px;
  left: 8px;
  padding: 6px 10px 6px 8px;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  backdrop-filter: blur(10px);

  .new-chat::part(link) {
    padding: 4px;
    margin-left: 16px;
    font-size: 12px;
  }

  .new-chat::part(link):hover {
    color: #7891ff;
  }

  .new-chat::part(link):active {
    color: #0911b3;
  }
}

.container {
  width: 270px;
  padding: 10px 0 10px 10px;
  height: 100%;
  transition:
    width 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.container.collapsed {
  width: 0;
  padding: 10px 0;
  overflow: visible;

  .sidebar {
    transform: translateX(-100%);
  }

  .alternative {
    opacity: 1;
  }
}

:host([behavior="drawer"]) {
  z-index: 2;
  width: 0;
}

:host(:not([behavior="drawer"])) .alternative .new-chat {
  display: none;
}

.mask {
  position: fixed;
  inset: 0;
}

.link {
  display: block;

  + .link {
    margin-top: 4px;
  }

  &::part(link) {
    display: flex;
    gap: 0;
    align-items: center;
    padding: 7px 10px;
    border-radius: 8px;
    color: #000;
  }

  &.active::part(link),
  &::part(link):hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .icon {
    font-size: 16px;
    margin-right: 10px;
  }

  .title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.history {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  margin: 0 -12px;
  padding: 0 12px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .section + .section {
    margin-top: 14px;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 6px;
    padding: 0 8px;
    position: sticky;
    top: 0;
  }

  .section-title.sticky::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(229, 228, 234);
    border-radius: 8px;
    z-index: -1;
  }

  .section-label {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 8px;
    margin-left: -8px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    color: #8c8c8c;
    border-radius: 8px;

    eo-icon {
      vertical-align: middle;
      margin-left: 6px;
      transition: transform 0.2s ease-in-out;
    }
  }

  .section-label:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .collapsed > ul {
    display: none;
  }

  .collapsed .section-label eo-icon {
    transform: rotate(-90deg);
  }

  .error,
  .loading {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 8px;
  }

  .loading {
    justify-content: center;
  }

  .error {
    color: var(--color-error);
  }

  .group + .group {
    margin-top: 15px;
  }

  .group-title {
    font-weight: 500;
    font-size: 12px;
    color: #000;
    padding: 8px;
    height: 36px;
    line-height: 20px;
  }

  .item {
    display: block;
  }

  .item::part(link) {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 36px;
    border-radius: 8px;
    color: #000;
  }

  .item.active::part(link) {
    background: rgba(0, 0, 0, 0.06);
  }

  .item.actions-active::part(link),
  .item::part(link):hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .item-title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .actions {
    cursor: auto;
  }

  .item:not(:hover):not(.actions-active) .actions {
    display: none;
  }

  .working {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: var(--elevo-color-brand);
    margin: 0 7px;
  }

  .item.actions-active .working,
  .item:hover .working,
  .item.active .working {
    display: none;
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
  }
}

.button {
  display: flex;
}

.space-links {
  margin-top: 16px;
}

.return-link {
  display: block;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1;
    min-width: 0;
  }

  .title,
  .sub-title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
  }

  .sub-title {
    font-size: 12px;
    color: #8c8c8c;
  }

  .icon {
    font-size: 16px;
    color: #8c8c8c;
  }

  &:not(:hover) .icon {
    display: none;
  }
}

.return-link::part(link) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 8px;
  color: #000;
}

.return-link::part(link):hover {
  background: rgba(0, 0, 0, 0.04);
}
