:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.space-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2540ff;
  border-radius: 16px;
  box-shadow:
    0px 10px 15px -3px rgba(37, 64, 255, 0.2),
    0px 4px 6px -4px rgba(37, 64, 255, 0.2);
}

.space-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
