:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.button-container {
  display: flex;
  gap: 6px;
}

.action {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;

  &::part(button) {
    height: 28px;
    font-size: 13px;
    padding: 5px 10px;
  }
  &.active::part(button) {
    color: var(--elevo-color-brand);
    background-color: rgba(var(--elevo-color-brand-rgb-channel), 0.04);
    border-color: #c9d7ff;
  }
}

.icon {
  font-size: 16px;
  margin-right: 4px;
}

.remove {
  padding: 1px;
  font-size: 14px;
  margin-left: 10px;
}
