.componentItemIcon {
  font-size: 16px;
  color: #262626;
  margin-top: 2px;
}
.componentItemWrapper {
  display: flex;
  flex-direction: column;
}
.componentItemTitle {
  font-weight: 400;
  font-size: 12px;
  color: #595959;
  line-height: 18px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.componentItemContent {
  background-color: #f3f4f7;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentItemThumbnail {
  background: #ffffff;
  border: 4px solid #f3f4f7;
  width: 96px;
  height: 64px;
  border-radius: 1px;
}
