.gridLayoutWrapper {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;

  .componentWrapper {
    width: 200px;
    padding: 6px 12px;
    overflow-y: auto;
    box-shadow: 1px 0 0 0 var(--palette-gray-4);
    background: var(--color-fill-bg-container-1);
    z-index: 1000;
    position: sticky;
    top: 0;

    .componentTitle {
      font-size: 16px;
      padding: 6px 0;
      font-weight: 500;
    }

    .componentList {
      margin-top: 6px;
      eo-checkbox::part(checkbox-wrapper) {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }

      eo-checkbox::part(checkbox-option) {
        margin-left: 0;
        width: 100%;
        background: none;
      }
    }
  }

  .layoutWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .layout,
    .actionsWrapper {
      width: 100%;
    }

    .layout {
      flex-grow: 1;
      width: 100%;
    }

    .layoutEdit {
      overflow-y: auto;
    }

    .actionsWrapper {
      position: sticky;
      top: 0;
      z-index: 999;
      margin-left: 1px;
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      background: var(--color-fill-bg-container-1);
      padding: 8px 12px;
      box-shadow: 0 1px 1px 0 var(--palette-gray-5);
    }
  }
}
