.tag {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 12px;
  height: 26px;
  width: fit-content;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.06);
  }
}
