* {
  box-sizing: border-box;
}

:host {
  display: block;
  position: relative;
  overflow: hidden;
  --animation-dasharray: 48;
  --stroke-dashedoffset: 96;
  --stroke-dottedoffset: 24;
  --dasharray: 4;
  --dotted: 1;
  --area-bg-color: rgba(119, 141, 195, 0.1);
}

:host,
.root {
  width: 100%;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

.root {
  opacity: 0;
}

.root.ready {
  opacity: 1;
}

.root:focus {
  outline: none;
}

@keyframes solidAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashedAnimation {
  0% {
    stroke-dashoffset: var(--stroke-dashedoffset);
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dottedAnimation {
  0% {
    stroke-dashoffset: var(--stroke-dottedoffset);
  }

  to {
    stroke-dashoffset: 0;
  }
}

.solid-animation {
  stroke-dasharray: var(--solid-length);
  stroke-dashoffset: var(--solid-length);
  animation: solidAnimation var(--time) linear infinite;
}

.dashed-animation {
  animation: dashedAnimation var(--time) linear infinite;
}

.dotted-animation {
  animation: dottedAnimation var(--time) linear infinite;
}

.decorator-area .area,
.container-wrapper .container {
  background-color: var(--area-bg-color);
  border: 1px solid transparent;
}

.decorator-text .text-container {
  border: 1px solid transparent;
}

.decorator-rect-container .rect-container {
  border: 1px solid rgba(73, 126, 255, 0.7);
}

.cell.active .decorator-area .area,
.cell.active .decorator-rect-container .rect-container,
.cell.active .decorator-text .text-container,
.cell.active .container-wrapper .container,
.container-dragover .decorator-container .container {
  border-style: dashed;
  border-color: rgba(73, 126, 255, 0.7);
}

.node,
.container-wrapper {
  overflow: visible;
}

.decorator-text,
.decorator-rect,
.decorator-area {
  overflow: visible;
  pointer-events: none;
}

.decorator-text > *,
.decorator-rect > *,
.decorator-area > * {
  pointer-events: auto;
}

.cell.active .line-active-bg {
  stroke: var(--palette-blue-5);
  stroke-dasharray: var(--dasharray);
  stroke-width: 1;
}

.cell:not(.read-only) {
  user-select: none;
}

.resize-handle {
  cursor: nwse-resize;
  opacity: 0;
}

.resize-handle rect {
  fill: transparent;
  stroke: none;
}

.resize-handle path {
  fill: none;
  stroke: var(--palette-gray-5);
  stroke-width: 1.5;
}

.decorator-area-container:hover .resize-handle,
.decorator-rect-container:hover .resize-handle,
.decorator-container:hover .resize-handle {
  opacity: 1;
}

.connect-line {
  pointer-events: none;
}

.connect-line:not(.connecting) {
  display: none;
}

.editing-line {
  pointer-events: none;
  stroke-dasharray: var(--dasharray);
  stroke-width: 1;
}

.editing-line:not(.editing) {
  display: none;
}

.line.dashed {
  stroke-dasharray: var(--dasharray);
}

.line.dotted {
  stroke-dasharray: var(--dotted);
}

.decorator-text .text-container {
  width: max-content;
  padding: 0.5em;
  white-space: pre;
}

.cell:not(.read-only) .decorator-text .text-container:hover {
  color: #497eff;
}

.decorator-text .text:focus {
  outline: none;
}

.cell.faded {
  opacity: 0.3;
}

.cell.container-dragover {
  opacity: 1;
}

.cell .node {
  pointer-events: none;
}

.cell .node > * {
  position: fixed;
  pointer-events: auto;
}

.degraded {
  pointer-events: bounding-box;
}

.degraded circle {
  fill: rgb(119, 141, 195);
}

.degraded text {
  text-anchor: middle;
  fill: var(--antd-text-color);
}

.cell.active .degraded circle,
.cell.active .degraded text,
.degraded:hover circle,
.degraded:hover text {
  fill: var(--color-brand);
}

.decorator-container {
  --defaultSize: 24px;

  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
    font-size: 16px;
    color: #262626;
    background-color: rgba(119, 141, 195, 0.25);
    overflow: hidden;
  }

  .horizontal {
    height: max-content;
    width: 100%;

    .text {
      min-height: var(--defaultSize);
    }
  }

  .vertical {
    width: max-content;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 4px;

    .text {
      min-width: var(--defaultSize);
    }
  }
}

.line-label-container {
  overflow: visible;
  opacity: 0;
}

.line-label-container.ready {
  opacity: 1;
}

.line-label {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  white-space: pre-line;
  width: max-content;
  text-align: center;
}

.line-label.text {
  font-size: 11px;
  color: var(--color-secondary-text);
  font-weight: 400;
  line-height: 1.63636364;
}

.motion:not(.visible) {
  opacity: 0;
}
