.container {
  background: var(--elevo-component-background);
  backdrop-filter: var(--elevo-component-backdrop-filter);
  border-radius: var(--elevo-border-radius);
  padding: 16px;
}

.container:not(:first-child) {
  margin-top: 10px;
}

ai-portal\.chat-stream .container {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 12px 20px;
}

.loading {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
}
