.files {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
  gap: 4px;
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}

.large {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.file {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 14px;
}

.file,
.file:hover {
  color: var(--elevo-color-brand);
}

.file:hover {
  background: rgba(0, 0, 0, 0.08);
}

.content {
  min-width: 0;
  flex: 1;
}

.icon {
  margin-right: 11px;
}

.name,
.metadata {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  color: rgba(0, 0, 0, 0.88);
}

.metadata {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  margin-top: 3px;
}

.chat {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 12px;
  width: fit-content;

  &.images {
    max-width: 412px;
  }

  &:not(.images) {
    gap: 8px;
    /* 250 * 3 + 8 * 2 */
    max-width: 766px;
  }

  .file {
    width: 250px;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;

  > li {
    width: 100px;
    height: 100px;
  }

  &.single > li {
    width: 200px;
    height: 200px;
  }
}

.image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
