.progress {
  margin-bottom: 10px;
  position: relative;
}

.bar,
.details {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.bar {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  font-size: 12px;
  padding: 0 14px;
}

.icon {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(222deg, #abaab7 25%, #fff 75%);
  color: #4e4d56;
  font-size: 10px;
  text-shadow: 0px 1px 1px #fff;
}

.progress.completed .icon {
  background: linear-gradient(222deg, #16c661 25%, #fff 75%);
  color: #055527;
}

.progress.failed .icon {
  background: linear-gradient(222deg, #f24c25 25%, #fff 75%);
  color: #5b1504;
}

.progress.working .icon {
  background: linear-gradient(222deg, #3e56ff 25%, #fff 75%);
  color: #0c165d;
}

.progress.input-required .icon {
  background: linear-gradient(222deg, #12aacc 25%, #fff 75%);
  color: #0c353e;
}

.progress.canceled .icon {
  background: linear-gradient(222deg, #fcaa07 25%, #fff 75%);
  color: #302206;
}

.text,
.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
}

.stat {
  margin-left: 6px;
}

.expand {
  margin-left: 6px;
}

.stat,
.expand {
  color: rgba(0, 0, 0, 0.45);
}

.details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  list-style: none;
  margin: 0;
  padding: 20px;
  cursor: auto;
}

.step {
  --state-color: initial;

  display: flex;
  align-items: center;
  color: var(--state-color, var(--text-color-secondary));
}

.name {
  color: var(--state-color, #262626);
}

.step:not(:last-child) {
  margin-bottom: 16px;
}

.step.completed {
  --state-color: var(--color-success);
}

.step.failed {
  --state-color: var(--color-error);
}

.step.working {
  --state-color: var(--color-info);
}

.step.input-required {
  --state-color: var(--palette-cyan-7);
}

.step.canceled {
  --state-color: #fcaa07;
}

.state {
  margin-right: 10px;
}

.mask {
  position: fixed;
  inset: 0;
}
