.heading {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  margin: 0 -8px 12px;
  cursor: pointer;
}

.main {
  font-size: 16px;
  line-height: 26px;
}

.caret {
  opacity: 0;
  transition: transform 0.2s ease-in-out;
}

.heading:hover {
  background: rgba(184, 187, 205, 0.15);
  border-radius: 8px;

  .caret {
    opacity: 1;
  }
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.title {
  color: #262626;
  font-weight: 500;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tool {
  background: #e2e5ef;
  border: 1px solid #d4d4de;
  border-radius: 13px;
  line-height: 24px;
  padding: 0 12px;
  width: fit-content;
  color: #595959;
  cursor: pointer;
}

.body {
  padding-left: 26px;
  margin-bottom: 20px;
}

.collapsed {
  .body {
    display: none;
  }

  .caret {
    transform: rotate(180deg);
    opacity: 1;
  }
}

.content {
  margin-top: 14px;

  .markdown [class*="code-wrapper--"]::part(mermaid) {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    min-width: var(--cruise-canvas-node-width-medium);
    width: auto;
    max-width: 100%;
  }
}

.content:empty {
  display: none;
}

.message:first-child > .message-part:first-child > :first-child {
  margin-top: 0;
}

.icon {
  color: #abaab7;
}

.completed .icon {
  color: #0fbe59;
}

.failed .icon {
  color: #f24c25;
}

.working .icon {
  color: var(--elevo-color-brand);
}

.input-required .icon {
  color: #12aacc;
}

.canceled .icon {
  color: #fcaa07;
}

ai-portal\.chat-stream[hide-mermaid] .content .markdown :global(.mermaid) {
  display: none;
}
