.detail {
  margin-top: 20px;
  color: #595959;
  margin-bottom: 7px;
}

.detail .body :global(.shiki.light-plus) {
  background: #fff !important;
  border: 1px solid #ccd1de;
  border-radius: 9px;
}

.detail .body :global(.shiki.light-plus).fallback {
  white-space: pre-wrap;
  background: #fef5f3 !important;
}

.progress-container,
.stream-message {
  border-radius: 9px;
  border: 1px solid #ccd1de;
  background: #fff;
}

.progress-container {
  padding: 6px 2px;
}

.fallback {
  background: #fef5f3;
}

.stream-message {
  padding: 1em;
  margin: 0.5em 0;
}
