.detail {
  margin-top: 20px;
  color: #595959;
  margin-bottom: 7px;
}

.code-block::part(pre) {
  border: 1px solid #ccd1de;
}

.code-fallback [class*="code-wrapper--"]::part(pre) {
  white-space: pre-wrap;
  background: #fef5f3 !important;
}

.progress-container,
.stream-message {
  border-radius: 9px;
  border: 1px solid #ccd1de;
  background: #fff;
}

.progress-container {
  padding: 6px 2px;
}

.progress-fallback {
  background: #fef5f3;
}

.stream-message {
  padding: 1em;
  margin: 0.5em 0;
}

.markdown-block {
  border: 1px solid #ccd1de;
  border-radius: 9px;
  padding: 1em;
  background: #fff;
}
