.node-instruction {
  max-width: 437px;
  max-width: min(437px, 90vw);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 10px 0px rgba(54, 64, 80, 0.08);
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.284);
  padding: 6px 16px;
  color: rgba(0, 0, 0, 0.45);
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading > .text {
  color: transparent;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.45) 40%,
    rgba(220, 220, 220, 1) 50%,
    rgba(0, 0, 0, 0.45) 60%,
    rgba(0, 0, 0, 0.45) 100%
  );

  background-size: 200% 100%;
  background-clip: text;
  animation: shineEffect 2s infinite linear;
}

@keyframes shineEffect {
  0% {
    background-position: -50% 50%;
  }
  100% {
    background-position: -250% 50%;
  }
}
